html, body {
  margin: 0;
  padding: 1.5vw;
}

body {
	width: 94vw;
	font-family: 'Lato', sans-serif;
	/*max-width: 700px;*/
}

img {
	width: 100%;
}

p {
	line-height: 24px;
}

h1{
/*position: absolute;
top:0px;
width:96vw;*/
position: relative;
top:3vh;
margin-left: 0vw;
margin-right: 0vw;
color:rgb(0,216,255);
/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Teko', sans-serif;*/
font-family: 'ZCOOL QingKe HuangYou', cursive;
background-color:rgb(53,0,140);
padding-left: 4vw;
padding-right: 12vw;
padding-top: 4vw;
padding-bottom: 4vw;
font-size: 30px;
letter-spacing:3px;
word-spacing: 0px;
}

h2{

top: 1vh;
/*width:50vw;*/
width: 73vw;
position: relative;
margin-left: 0vw;
color:rgb(53,0,140);
background-color:rgb(0,216,255);
padding-left: 4vw;
padding-right: -5vw;
padding-top: 1.3vw;
padding-bottom: 1.3vw;
margin-right: 63.5vw;
font-size: 18px;
font-family: 'ZCOOL QingKe HuangYou', cursive;
letter-spacing: 1px;
}


.title{
	position: relative;
	top: -4.6vh;
	text-align: center;
	transform: scale(1);
	background-color:rgb(53,0,140);
	padding-left: 45vw;
	padding-top:5px;
	padding-right:45vw;
	margin-bottom:-7vh;
	margin-right: -3vw;
	margin-left:-3vw;

	/*
	font-family: 'Press Start 2P', cursive;
	padding-bottom: -13vh;
	margin-bottom: -4vh;
	margin-top: -2.4px;
	color:rgb(53,0,140);
	background-color:rgb(53,0,140);
	padding-left: 4.5vw;
	margin-left: -3vw;
	padding-right: 3vw;
	margin-right: -3vw;
	padding-top: .5vh;
	padding-bottom: .5vh;
	letter-spacing: 2px;
	line-height: 20px;
	text-align: center;*/

}

a{
	color: white;
	text-decoration: none;
} 


.image .caption { 
	font-size: 80%;
	font-family: 'Lato', sans-serif;
    text-align: center; 
    color: gray;
}

.caption { 
	font-size: 80%;
	font-family: 'Lato', sans-serif;
    text-align: center; 
    color: gray;
}

 /*.titlepic{
	position: relative;
	margin-top: 3.8vh;
	margin-left: -1;
	transform: scale(1.066);
}*/

/*.pullquote{
	font-weight: bold;
	font-size: 32px;
	color:rgb(200,150,120);
	width: 74vw;
	margin-left: 10vw;
}*/

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 auto;
	/*border: 3px solid #ddd;
	border-color: rgb(53,0,140);*/
}


.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question{
	background-color:rgb(53,0,140);
	color:rgb(0,216,255);
	padding-left: 3vw;
	margin-left: -3vw;
	padding-top: .3vh;
	padding-bottom: .3vh;
	padding-right: 3vw;
}

.otherosts{
	position: relative;
	top:7.5vh;	
}



.smashbros{
	position: relative;
	float:left;
	margin-right: 5.5vw;
	margin-left: 3vw;


	width: 18vw;
}

.witcher{
	position: relative;
	float:left;
	margin-right: 5.5vw;



	width: 18vw;
}

.celeste{
	position: relative;
	float:left;
	margin-right: 0px;



	width: 18vw;
}

.xenoblade{
	position: relative;
	float:left;
	margin-right: 5.5vw;



	width: 18vw;
}

.nier{
	position:relative;
	float:left;
	margin-right: 5.5vw;



	width: 18vw;
}

h3{
position: absolute;
margin-left: 0vw;
/*top:-26.016vh;*/
width:94.3vw;
color:rgb(0,216,255);
/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Teko', sans-serif;*/
font-family: 'ZCOOL QingKe HuangYou', cursive;
background-color:rgb(53,0,140);
padding-left: 8vw;
margin-left: -5vw;
padding-top: 1.3vh;
padding-bottom: 25vw;
font-size: 18px;
font-family: 'ZCOOL QingKe HuangYou', cursive;
letter-spacing: 1px;
}



h5{

/*width:50vw;*/
width: 73vw;
position: relative;
margin-left: -4vw;
color:rgb(53,0,140);
background-color:rgb(0,216,255);
padding-left: 4vw;
padding-right: -5vw;
padding-top: 1.3vw;
padding-bottom: 1.3vw;
margin-right: .5vw;
font-size: 20px;
font-family: 'ZCOOL QingKe HuangYou', cursive;
letter-spacing: 1px;
}

.pullquote{
	font-size:26px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	letter-spacing: .5px;
	color:rgb(53,0,140);
}

	/*height: auto;
	column-count: 2;
	column-rule: solid;
	column-rule-color: rgb(53,0,140);
	background-color: rgb(0,216,255);
	outline-color: rgb(0,216,255);
	outline-width: 10px;*/
}
/*.answer{
	background-color:rgb(53,0,140);
	color:rgb(0,216,255);
	padding-right: 3vw;
	margin-right: -3vw;
	padding-top: .002vh;
	padding-bottom: .002vh;
}*/

/*.pbox{
	position: absolute;
	top: 0px;
	left: 0vw;
	width: 100vw;
	height:16vh;
	background-color:rgb(53,0,140);
}*/