
.box1{
  display: hide;
}

.box3{
  display: hide;
}

.box2{
  display: hide;
}
.datetime {
  position: absolute;
  top: 1.12vw;
  left: 65vw;
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
  color: rgb(255,255,255);
  text-align: center
}

.location {
  position: absolute;
  top: 62vw;
  left: 4vw;
  width: 90vw;
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
  color: rgb(255,255,255);
  line-height: 4vw;
}

.box99 {
  position: absolute;
  top: -13px;
  left: 0vw;
  width: 100vw;
  height: 73.68vw;
  background-image: url(yeet.svg);
  background-size: cover;

}
.logo {
  position: absolute;
    top: -6.2vh;
    left: -15vw;
    transform: scale(.6);
    width: 87vw;
    height: 30vw;
    background-image: url(nycclogomini.png);
    background-size: cover;  

}
.prices {
  position: absolute;
  top: 21vw;
  left: 4vw;
  font-family: 'Oswald', sans-serif;
  font-size: 3.0vw;
  color: rgb(255,255,255);
  line-height: 7vw;
}

.prices:hover {
    font-weight: bold;


}

.video {
  position: absolute;
  width: 130vh;
  height: 44.5vw;
  top: -415px;
  left: 40vw;
  transform: scale(1.5);
 
}

.bg-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("comicconfloor.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.5)
}


@media (max-width: 500px){


.datetime {
  position: absolute;
  top: 228px;
  left: 126px;
  font-family: 'Oswald', sans-serif;
  font-size: 5.5vw;
  color: rgb(255,255,255);
}

.logo {
  position: absolute;
}

.box1 {
  position: absolute;
  top: 215px;
  left: 16vw;
  width: 85vw;
  height: 23vw;
  background-image: url(redslantbox.svg);
  background-size: cover;
}

.logo {
  position: absolute;
  top: 40px;
  left: 7.5vw;
  transform: scale(1.07);
}

.prices {
  position: absolute;
  left: 20vw;
  width:50vw;
  height: 9vw;
  top: 368px;
  left: 129px;
  font-family: 'Oswald', sans-serif;
  font-size: 5.5vw;
  color: rgb(255,255,255);
  line-height: 45px;
}

.box2 {
  position: absolute;
  top: 357px;
  left: 0vw;
  width: 85vw;
  height: 60vw;
  background-image: url(blueslantbox.svg);
  background-size: cover;
}

.location {
  position: absolute;
  top: 654px;
  left: 00vw;
  width: 100vw;
  height:53vw;
  font-family: 'Oswald', sans-serif;
  font-size: 5.5vw;
  color: rgb(255,255,255);
  line-height: 40px;
  text-align: center;
}

.box3 {
  position: absolute;
  top: 647px;
  left: 0vw;
  width: 101vw;
  height: 23vw;
  background-color: rgb(238, 28, 36);
  }

.background {
  position: absolute;
 
  width: 100.1vw;
  height: 100vh;
  background-image: url("comicconfloor.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.1)
}

.video {
  display:none;
}

.box99 {
  display:none;
}
}