.marblebg {
  position: absolute;
 left: 0vw;
 top: 0vh;
  width: 100vw;
  height: 100vh;
  background-image: url("marblebg.jpg");
  background-size: cover;
  background-position: center;
}

.pic7{
  position: absolute;
  top:14vh;
  left:20vw;
  width:532px;
  height:400px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic7.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  transition: all .25s ease-in-out;
  }

.similar{
  position: absolute;
  top: 14vh;
  left: 72.5vw;
  text-align:center;
  font-size: 25px;
  font-color:black;
  font-family: 'Source Sans Pro', sans-serif;
}

.otherpics{

  position: absolute;
  top:150px;
  left:70vw;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pica {
  position: relative;
  width:15vw;
  height:15vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic16.jpg);
  background-position:center;
  background-size:cover;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.picb {
  position: relative;
  width:15vw;
  height:15vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic31.jpg);
  background-position:center;
  background-size:cover;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.picc {
  position: relative;
  width:15vw;
  height:15vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic19.jpg);
  background-position:center;
  background-size:cover;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pica:hover {
opacity:.60;
}

.picb:hover {
opacity:.60;
}

.picc:hover {
opacity:.60;
}

a.back{
  position: absolute;
  top: 3vh;
  left: 9vw;
  text-align:center;
  font-size: 30px;
  font-color: black;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  
}

.bar {
  position: absolute;
  top: 7vh;
  left: 63vw;
  width: 100px;
  height: 550px;
  background-image: url(fancypicbar.svg)
}

@media (max-width: 1240px){

.otherpics{
 position: relative;
 float:left;
  top:600px;
  left:18vw;
  width:15vw;
  height:15vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  cursor: pointer;
   transition: all .25s ease-in-out;
	}

.similar{
  position: absolute;
  top: 587px;
  left: 35vw;
  text-align:center;
  font-size: 20px;
  font-color:black;
  font-family: 'Source Sans Pro', sans-serif;
}

.pic7{
	left:12.25vw;
}

.bar {
  position: absolute;
  top: 71vh;
  left: 20vw;
  width: 500px;
  height: 100px;
  background-image: url(fancypicbar2.svg)
}
}

@media (max-width:650px){

	.pic7{
		left:-3vw;
	}

  .bar{
  left:-11vw;
}
}
