.title {
  position: absolute;
  top: 30vh;
  left: 7.4vw;
  text-align:center;
  font-size: 8vw;
  font-color: black;
  font-family: 'Great Vibes', cursive;
}
.enter{
  position: absolute;
  top: 65vh;
  left: 47vw;
  text-align:center;
  font-size: 3vw;
  font-color:black;
  font-family: 'Source Sans Pro', sans-serif;
  cursor:pointer;
}
.bar {
  position: absolute;
  top: 48vh;
  left: 4.2vw;
  width: 90%;
  height: 5px;
  background-color: rgb(251, 216, 118);
}

.box {
  position:absolute;
  background-image:url(whitebox.svg);
  top:0px;
  left:0px;
  height:255%;
  width:103%;
}

.pics {
  position:relative;
  top:5px;
  left:5.3vw;
}

.pic1 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic1.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic2 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic2.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic3 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic3.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}
.pic4 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic4.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic5 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic5.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic6 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic6.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic7 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic7.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic8 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic8.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic9 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic9.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic10 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic10.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic11 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic11.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic12 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic12.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic13 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic13.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic14 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic14.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic15 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic15.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic16 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic16.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic17 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic17.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic18 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic18.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic19 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic19.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic20 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic20.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic21 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic21.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic22 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic22.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic23 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic23.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic24 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic24.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic25 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic25.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic26 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic26.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic27 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic27.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic28 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic28.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic29 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic29.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic30 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic30.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic31 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic31.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic32 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic32.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic33 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic33.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic34 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic34.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic35 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic35.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic36 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic36.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic37 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic37.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic38 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic38.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic39 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic39.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic40 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic40.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic41 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic41.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic42 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic42.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.pic43 {
  position: relative;
  top:10px;
  left:10px;
  width:20vw;
  height:20vh;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  background-image:url(pic43.jpg);
  background-position:center;
  background-size:cover;
  float: left;
  cursor: pointer;
   transition: all .25s ease-in-out;
}

.removeintro {
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}

.pic1:hover{
  opacity:.60;
}

.pic2:hover{
  opacity:.60;
}

.pic3:hover{
  opacity:.60;
}

.pic4:hover{
  opacity:.60;
}

.pic5:hover{
  opacity:.60;
}

.pic6:hover{
  opacity:.60;
}

.pic7:hover{
  opacity:.60;
}

.pic8:hover{
  opacity:.60;
}

.pic9:hover{
  opacity:.60;
}

.pic10:hover{
  opacity:.60;
}

.pic11:hover{
  opacity:.60;
}

.pic12:hover{
  opacity:.60;
}

.pic13:hover{
  opacity:.60;
}

.pic14:hover{
  opacity:.60;
}

.pic15:hover{
  opacity:.60;
}

.pic16:hover{
  opacity:.60;
}

.pic17:hover{
  opacity:.60;
}

.pic18:hover{
  opacity:.60;
}

.pic19:hover{
  opacity:.60;
}

.pic20:hover{
  opacity:.60;
}

.pic21:hover{
  opacity:.60;
}

.pic22:hover{
  opacity:.60;
}

.pic23:hover{
  opacity:.60;
}

.pic24:hover{
  opacity:.60;
}

.pic25:hover{
  opacity:.60;
}

.pic26:hover{
  opacity:.60;
}

.pic27:hover{
  opacity:.60;
}

.pic28:hover{
  opacity:.60;
}

.pic29:hover{
  opacity:.60;
}

.pic30:hover{
  opacity:.60;
}

.pic31:hover{
  opacity:.60;
}

.pic32:hover{
  opacity:.60;
}

.pic33:hover{
  opacity:.60;
}

.pic34:hover{
  opacity:.60;
}

.pic35:hover{
  opacity:.60;
}

.pic36:hover{
  opacity:.60;
}

.pic37:hover{
  opacity:.60;
}

.pic38:hover{
  opacity:.60;
}

.pic39:hover{
  opacity:.60;
}

.pic40:hover{
  opacity:.60;
}

.pic41:hover{
  opacity:.60;
}

.pic42:hover{
  opacity:.60;
}

.pic43:hover{
  opacity:.60;
}







/*img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}*/

